# Notebook to process student example json files

In [9]:
from __future__ import division

import json
import os
from os.path import basename

import pandas as pd

Find the json files directory, list all json files.

In [10]:
path = "sample_data"  # or e.g. os.getcwd()
jsonFiles = [os.path.join(path, f) for f in os.listdir(path) if f.endswith(".json")]
print(jsonFiles)

['sample_data/studentB2_t3.json', 'sample_data/studentC_t4.json', 'sample_data/studentB1_t2.json', 'sample_data/studentA_t1.json']

In [11]:
def load_student(jsonFile):
    with open(jsonFile) as fr:
        data = json.load(fr)
    dictInfo = {}
    student = basename(jsonFile).split("_")[0]
    split_task = basename(jsonFile).replace(".json", "").split("_", 1)

    total = len(data[student])
    dictInfo["fooled"] = sum(
        [1 for task in data[student] if task["model_wrong"] is True]
    )
    dictInfo["total"] = total
    dictInfo["mer"] = dictInfo["fooled"] / dictInfo["total"]
    dictInfo["task"] = split_task[1]

    return dictInfo

Calculate scores and MER information for each filename, then use pandas to list top scores.

In [12]:
results = {basename(fn).split("_")[0]: load_student(fn) for fn in jsonFiles}
results = pd.DataFrame.from_dict(results)
sortedResult = results.T.sort_values(by=["mer"], ascending=False)
display(sortedResult)

          fooled total       mer task
studentA       3     3         1   t1
studentB2      2     3  0.666667   t3
studentB1      2     3  0.666667   t2
studentC       1     3  0.333333   t4